<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Bellatrix Auction House</title>
</head>

<body>

  <header>
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-9">
          <h2>Bellatrix Auction House</h2>
        </div>
        <div class="col-lg-2 auth-buttons">
          <button class="btn btn-primary" id="sign-in-btn">Sign in</button>
          <button class="btn btn-primary" id="sign-up-btn">Sign up</button>
        </div>
      </div>
    </div>
  </header>

  {{{body}}}

</body>

</html>